
body {
    margin-top: 30px;
    background-color: #353535;
    align-items: center;
    text-align: center;
}
a,
a::before,
a::after,
.music {
    margin-top: 45px;
    margin-bottom: 45px;
    color: white;
    font-size: 15px;
}
